@keyframes upDown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}

@keyframes leftRight {
  0% {
    transform: translateX(-10px);
  }
  10% {
    transform: translateX(10px);
  }
  20% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes upDownLeftRight {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(0px);
    transform: translateX(30px);
  }
  75% {
    transform: translateX(0px);
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0px);
    transform: translateX(-30px);
  }
}

@keyframes danacingSlide {
  0% {
    transform: translateX(0px);
  }
  20% {
    transform: translateX(-40px);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateX(30px);
  }
  80% {
    transform: translateY(30px);
  }
  0% {
    transform: translateX(0px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}


/* Add to your global CSS file */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex;
  animation: scroll 5s linear infinite;
}

.animate-scroll:hover {
  animation-play-state: paused; /* Optional: pause on hover */
}